.site-footer {
  @extend %padding-post;
  z-index: -1;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: var(--background);
  font-size: 1em;
  font-weight: 400;
  background-color: var(--text);

  .footer-icons {
    ul {
      list-style: none;
      margin: 0;

      li {
        display: inline;
      }

      a {
        color: var(--blue);
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer-icons {
  float: right;
}

#footer_text {
  color: var(--gray3);
  float: left;

  a {
    color: var(--blue);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
