$baseurl: "{{ site.baseurl }}";

#categories {
  .category-clouds {
    margin: 30px 0 30px;

    li {
      background-color: var(--link);
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 3px;
      padding: 0 15px;
      border-radius: 20px;
      color: var(--header-text);
      font-weight: 600;
      font-size: 0.8rem;
      line-height: 35px;
      letter-spacing: -0.03rem;

      .category-number {
        vertical-align: super;
        font-size: 0.625rem;
      }

      .p {
        opacity: 1;
      }
    }

    li:hover {
      background-color: var(--header-background) !important;
      color: var(--header-text);
    }

    .category-anchor:hover {
      text-decoration: none !important;
      filter: none;
    }
  }

  .category-group {
    padding: 15px 0 10px;

    .title {
      margin-bottom: 10px;
    }

    .items {
      padding-left: $padding-large;

      .item {
        position: relative;
        margin: 25px 0;
        padding-left: 6em;

        .meta {
          color: var(--meta);
          // font-size: 0.85rem;
        }

        .title {
          font-weight: 600;
          color: var(--text);
        }
      }

      .item::before {
        content: "";
        position: absolute;
        left: -9rem;
        width: 12.875em;
        height: 12.875em;
        // background-color: var(--selection);
        background-image: url('/ncnlp/assets/img/blog_icon_0.png');
        background-size: 12.875em;
        background-repeat: no-repeat;
        border-radius: 8px;
        height: 100%;
      }

      .item_biz::before {
          background-image: url('/ncnlp/assets/img/icon_biz.png') !important;
      }
      .item_conf::before {
          background-image: url('/ncnlp/assets/img/icon_conf.png') !important;
      }
      .item_news::before {
          background-image: url('/ncnlp/assets/img/icon_news.png') !important;
      }
      .item_nlp::before {
          background-image: url('/ncnlp/assets/img/icon_nlp.png') !important;
      }
      .item_paper::before {
          background-image: url('/ncnlp/assets/img/icon_paper.png') !important;
      }
      .item_patent::before {
          background-image: url('/ncnlp/assets/img/icon_patent.png') !important;
      }
      .item_school::before {
          background-image: url('/ncnlp/assets/img/icon_school.png') !important;
      }
      .item_seminar::before {
          background-image: url('/ncnlp/assets/img/icon_seminar.png') !important;
      }
      .item_tech::before {
          background-image: url('/ncnlp/assets/img/icon_tech.png') !important;
      }
      .item_security::before {
          background-image: url('/ncnlp/assets/img/icon_security.png') !important;
      }

      .category-post-link:hover {
        text-decoration: none;

        .meta, .title {
          color: var(--header-background);
        }

        .item::before {
          background-color: var(--link);
        }
      }
    }
  }
}
