$baseurl: "{{ site.baseurl }}";

article {
  padding: 6.875rem 20.0625rem;
}

#categories {
  .category-clouds {
    margin: 30px 0 30px;

    li {
      background-color: var(--link);
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 3px;
      padding: 0 15px;
      border-radius: 20px;
      color: var(--header-text);
      font-weight: 600;
      font-size: 0.8rem;
      line-height: 35px;
      letter-spacing: -0.03rem;

      .category-number {
        vertical-align: super;
        font-size: 0.625rem;
      }

      .p {
        opacity: 1;
      }
    }

    li:hover {
      background-color: var(--header-background) !important;
      color: var(--header-text);
    }

    .category-anchor:hover {
      text-decoration: none !important;
      filter: none;
    }
  }

  .publication-title-group {
    margin-top: 6.875rem;
    margin-bottom: 3.125rem;

    .publication-title {
      color: var(--gray900);
      font-size: 2.5rem;
      font-weight: 700;
    }

    .publication-link {
      float: right;
      color: var(--gray400);
      font-size: 1.25rem;
      font-weight: 500;
      text-decoration: none !important;
    }
    
    .publication-link:hover {
      color: var(--blue500);
      text-decoration: none !important;
    }
  }

  .publication-group {
    .publication_div {
      border: none !important;
      padding: 1.875rem 0 0 0;

      .pub_title {
        color: var(--gray900);
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.875rem;
      }

      .publications_meta {
        color: var(--gray700);
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 1.125rem;
      }

      .publications_author {
        color: var(--gray300);
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0;
      }
    }

    hr {
      margin-top: 1.875rem;
      margin-bottom: 0.75rem;
    }
  }

  .blog-page {
    display: flex;

    .item-filter {
      width: 15rem;
      height: auto;
      margin-top: 2.5rem;
      margin-right: 4.375rem;
  
      .item-filter-title {
        color: var(--gray800);
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 1.875rem;
      }

      .item-filter-title + .blog-filter-big {
        margin-top: 0;
      }

      .blog-filter-big {
        display: flex;
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
        font-size: 1.125rem;
        color: var(--gray700);
        font-weight: 700;
        width: 14.5rem;
        line-height: 1.4;
        cursor: pointer;

        .blog-filter-big-title {
          width: 12rem;
        }
      }

      .blog-filter-big .chevron {
        content: " ";
        float: right;
        background-image: url('/ncresearch/assets/img/renewal/ic_chevron_up.png') !important;
        width: 1.5rem;
        height: 1.5rem;
      }

      .blog-filter-small {
        display: flex;
        margin-bottom: 0.75rem;
        font-size: 1rem;
        color: var(--gray400);
        font-weight: 400;
        width: 14.5rem;
        line-height: 1.4;
        cursor: pointer;
      }

      .hide {
        display: none;
      }
    }

    .tag-list {
      a {
        margin: 0 0.325rem 0.625rem 0;
        color: var(--gray700);
        font-size: 1rem;
      }

      a:hover {
        text-decoration: none !important;
        color: var(--white);
        background-color: var(--blue);
      }
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"] + label {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border: 0.1rem solid var(--gray100);
      border-radius: 0.25rem;
      position: relative;
    }

    input[type="checkbox"]:checked + label {
      background-color: var(--blue500);
    }

    input[type="checkbox"]:checked + label::after {
      content: '✓';
      font-size: 1rem;
      font-weight: 900;
      color: var(--white);
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
    }

    label {
      cursor: pointer;
    }

    .blog-post-item {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      border-bottom: 1px solid var(--gray100);
      padding-bottom: 2.5rem;

      h3 {
        margin: 0 0 1.875rem 0;
        line-height: 1;

        .category-item-new {
          display: inline-block;
          width: 2.75rem;
          height: 1.5625rem;
          background-image: url('/ncresearch/assets/img/renewal/new_badge.png');
          background-size: contain;
        }
      }

      .post-info {

        .meta {
          color: var(--gray500);
          font-size: 1rem;
          font-weight: 600;
        }

        .meta2 {
          color: var(--gray300);
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
  }

  .category-group {
    display: grid;
    grid-gap: 1.875rem;
    grid-template-columns: repeat(auto-fit, 24.75rem);
    justify-content: center;
    padding: 3.125rem 0 0 0;

    .title {
      margin-bottom: 10px;
    }

    .category-item {
      .category-item-img {
        width: 24.75rem;
        height: 17.75rem;

        img {
          width: 100%;
          height: 100%;
          padding: 0;
          object-fit: cover;
        }
      }

      .category-item-new {
        display: inline-block;
        width: 2.75rem;
        height: 1.5625rem;
        background-image: url('/ncresearch/assets/img/renewal/new_badge.png');
        background-size: contain;
      }
      
      .tag-list {
        height: 5.5rem;
        overflow: hidden;

        a {
          margin: 0 0.325rem 0.625rem 0;
          color: var(--gray700);
          font-size: 1rem;
        }

        a:hover {
          text-decoration: none !important;
          color: var(--white);
          background-color: var(--blue);
        }
      }
    }

    .category-item h3 {
      padding-top: 1.25rem;
    }

    .items {
      padding-left: $padding-large;

      .item {
        position: relative;
        margin: 25px 0;
        padding-left: 6em;

        .meta {
          color: var(--meta);
          // font-size: 0.85rem;
        }

        .title {
          font-weight: 600;
          color: var(--text);
        }
      }

      .category-post-link:hover {
        text-decoration: none;

        .meta, .title {
          color: var(--header-background);
        }

        .item::before {
          background-color: var(--link);
        }
      }
    }
  }
}
