.comments {
  @extend %padding-post;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  width: 100%;
}

article {
  //@extend .comments;

  header {
    // margin-bottom: 6%;
    text-align: center;
  }

  a:hover {
    @extend .body-link;
  }

  .footnotes {
    font-size: 0.9em;
  }
}

footer {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
  display: inline-block;
  text-align: center;

  .meta {
    display: inline;
  }

  a.button {
    margin-left: 1em;
  }
}

header {
  h1 {
    margin: 0;
  }
}

.meta {
  color: var(--gray6);
  letter-spacing: 0.02em;
  margin: 0;
  text-transform: uppercase;
}

.meta2 {
  color: var(--gray4);
  letter-spacing: 0.02em;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
}

/* --- Post info --- */
.post-info {
  /* For border in author
  border: 1px solid var(--border);
  padding-left: 0.5em;
  */
  border-radius: 1em;
  padding-right: 0.5em;
  padding-top: 1rem;
  display: inline-flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;

    img {
      height: auto;
    }

    &:hover {
      text-decoration: none;
    }
  }

  img {
    border-radius: 2.5em;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5em;
    object-fit: cover;
  }
}

/* --- Feature image --- */
.feature-image {
  padding: 0;

  .post-link {
    color: var(--header-text);
  }

  .post_category {
    color: var(--gray400);
    font-size: 1.125rem;
    padding-bottom: 0.5rem;
  }

  h1.title, .post-info {
    // @extend .txt-shadow;
  }

  header {
    color: var(--black);
    margin-bottom: 0;
    //padding: $padding-large/2.5 15%;

    .meta {
      color: var(--gray500);
      font-size: 1rem;
    }

    .meta2 {
      color: var(--gray300);
      font-size: 1rem;
    }

    .title-padder {
      border-bottom: 1px solid var(--gray100);
      text-align: left;
      padding-bottom: 3.125rem;
    }
  }

  .post-content {
    @extend %padding-post;
    padding: 3.825rem 0;
  }

  footer {
    @extend %padding-post;
    padding-top: 0;
  }

  .feature-image-padding {
    padding: $feature-image-padding;
  }
}

/*-- feature-image Responsive scrolling --*/
.feature-image header {
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: $xl-break) {
    //padding: 10.625rem 30.9375rem 0 30.9375rem;
  }

  @media screen and (min-width: $break) {
    // background-size: 120% auto;
  }

  @media screen and (max-width: $break) {
    // background-size: 200% auto;
  }

  @media screen and (max-width: $sm-break) {
    // background-size: 400% auto;
  }
}

.post-content {
  h1 {
    color: var(--gray800);
    font-size: 2.5rem;
  }
  h2 {
    color: var(--gray800);
    font-size: 2rem;
    line-height: 3.5625rem;
  }
  h3 {
    color: var(--gray800);
    font-size: 1.5rem;
    line-height: 3rem;
  }
  h4 {
    color: var(--gray800);
    font-size: 1.5rem;
    line-height: 2.375rem;
  }
  h5 {
    color: var(--h5);
    font-size: 1.25rem;
    line-height: 1.8125rem;
  }
  h6 {
    color: var(--gray600);
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 2.125rem;
  }

  a {
    :visited {
      filter: saturate(0.7);
    }
  }

  p {
    font-size: 1.125rem;
  }
  ul, li {
    font-size: 1.125rem;
  }
}

div.share-buttons {
  @extend %padding-post;
  width: 100%;
  display: inline-block;
}

ul.share-buttons {
  float: left;
  width: 50%;
}

#cc_by_nc_sa_a {
  float: right;
  width: 50%;
}

#email_div {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.3rem;
  background-image: url('/ncresearch/assets/img/renewal/ic_email.svg') !important;
}

#email_div:hover {
  background-image: url('/ncresearch/assets/img/renewal/ic_email_hover.svg') !important;
}

sup {
  scroll-margin-top: 6rem;
}